
/* primary colour #2d75a5 */

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.sub-nav li, .sub-nav ul {
	font-size: 1em;
	font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.name h1 a {
	font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-bar-section li a {
	background-color: #2d75a5 !important;
	font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.button, button {
	font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-bar {
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-color: #2d75a5;

}

.top-bar .name h1 a {
	margin-left: 40px;
}

span.label {
	-webkit-font-smoothing: subpixel-antialiased;
}

iframe {
	height: 3em;
}

div.row {
	max-width: 1600px;
}


span.search {
	margin-top: 0.5em;
}

span.iconic {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: 100;
	padding: 0 0.5em 0 0;
	position: relative;
	top: 2px;
}

textarea {
	height: 10em;
}

span.validationMessage {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0em;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: #c60f13;
	color: white;
}

.button.disabled .button[disabled], button.disabled, button[disabled] {
	background-color: #ccc;
}

button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
	background-color: #ccc; 
}

label.form, span.form, input.form {
	font-size: 0.7em;
	color: #4d4d4d;
	cursor: pointer;
	font-weight: normal;
	margin-bottom: 0.44444rem;
}

tr.clickable:hover td {
	background: #2d75a5;
	color: whitesmoke;
}

.ticketbox {
	background: whitesmoke;
	padding: 0.5em 0.5em 0.7em 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
}

ul.messagebox {
	margin-top: 0;
	margin-bottom: 1.5em; 
	box-shadow: 0px 0px 5px 2px #ddd;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	}
	ul.messagebox {
		list-style: none;}
	.messagebox .title {
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-border-radius-topright: 16px;
		-moz-border-radius-topleft: 16px;
		-webkit-border-top-right-radius: 16px;
		-webkit-border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		border-top-left-radius: 16px; 
		padding: 0.9375em 1.25em;
		text-align: center;
		color: #333333;
		font-weight: normal;
		font-size: 0.75em; 
	}
	.messagebox .title.fromuser {
		background-color: #e9e9e9;
	}
	.messagebox .title.fromadmin {
		background-color: #5b94bf;
	}
	.messagebox .title.private {
		background-color: #E3F6D4;
	}
	.messagebox .date {
		background-color: whitesmoke;
		padding: 0.9375em;
		text-align: center;
		color: #777777;
		font-size: 0.75em;
		font-weight: normal;
		line-height: 1.4;
		border-left: solid 1px;
		border-right: solid 1px;  }
	.messagebox .date.fromuser, .messagebox .body.fromuser {
		border-color: #e9e9e9;
	}
	.messagebox .date.fromadmin, .messagebox .body.fromadmin {
		border-color: #5b94bf;
	}
	.messagebox .date.private, .messagebox .body.private {
		border-color: #e9e9e9;
	}	
	.messagebox .body {
		padding: 0.9375em;
		text-align: left;
		color: #333333;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-border-radius-bottomright: 16px;
		-moz-border-radius-bottomleft: 16px;
		-webkit-border-bottom-right-radius: 16px;
		-webkit-border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px; 
		border-bottom: solid 1px;
		border-left: solid 1px;
		border-right: solid 1px;
	}

