extends layout

block append head
	script(src='/js/supplied/knockout.validation.js')
	script(src='/js/add.js')

block content
	.row
		.small-12.columns
			form(data-bind='submit: addTicket, validationOptions: {decorateElement: true, errorElementClass: "error"}')
				fieldset
					legend Add ticket
					.row(data-bind='if: isAdmin')
						.large-6.columns
							label Email:
							input(type='text', data-bind='value: email, valueUpdate:"afterkeydown"')
						.large-6.columns
							label Name:
							input(type='text', data-bind='value: name, valueUpdate:"afterkeydown"')
					.row(data-bind='if: isAdmin')
						.large-3.columns
							label For list:
							select(data-bind='options: groupOptions, value: group')
						.large-3.columns
							label Priority:
							select(data-bind='options: priorityOptions, value: priority')
						.large-6.columns
					.row
						.large-12.columns
							label Subject (required):
							input(type='text', placeholder='Subject of problem to report', data-bind='value: subject, valueUpdate:"afterkeydown"')
					.row
						.large-12.columns
							label Description (required):
							textarea(placeholder='Describe the details of the problem', data-bind='value: description, valueUpdate:"afterkeydown"')
					.row
						.large-12.columns
							button.radius(type='submit', data-bind='enable: isValid()') Add Ticket
					.row.hide(data-bind='fadeVisible: alert')
						.large-12.columns
							.alert-box.radius(data-bind='text: alert, css: {success: success()}')
	

	