extends layout

block append head
	script(src='/js/supplied/knockout.validation.js')
	script(src='/js/add.js')

block content
	.row
		.small-12.columns
			form(data-bind='submit: addTicket, validationOptions: {decorateElement: true, errorElementClass: "error"}')
				fieldset
					legend Add ticket
					.row(data-bind='if: isAdmin')
						.large-6.columns
							label Email:
							input(type='text', data-bind='value: email, valueUpdate:"afterkeydown"')
						.large-6.columns
							label Name:
							input(type='text', data-bind='value: name, valueUpdate:"afterkeydown"')
					.row(data-bind='if: isAdmin')
						.large-3.columns
							label For list:
							button.dropdown.secondary.small(href="#", data-dropdown="group", data-bind='text: group', style='width: 100%')
							ul#group.f-dropdown(data-dropdown-content, data-bind='foreach: groupOptions')
								li 
									a(data-bind='text: $data, click: $parent.setGroup')

						.large-3.columns
							label Priority:
							button.dropdown.secondary.small(href="#", data-dropdown="priority", data-bind='text: priority', style='width: 100%')
							ul#priority.f-dropdown(data-dropdown-content, data-bind='foreach: priorityOptions')
								li 
									a(data-bind='text: $data, click: $parent.setPriority')
						.large-6.columns
					.row
						.large-12.columns
							label Subject (required):
							input(type='text', placeholder='Subject of problem to report', data-bind='value: subject, valueUpdate:"afterkeydown"')
					.row
						.large-12.columns
							label Description (required):
							textarea(placeholder='Describe the details of the problem', data-bind='value: description, valueUpdate:"afterkeydown"')
					.row
						.large-12.columns
							button.radius(type='submit', data-bind='enable: isValid()') Add Ticket
					.row.hide(data-bind='fadeVisible: alert')
						.large-12.columns
							.alert-box.radius(data-bind='text: alert, css: {success: success()}')
	

	