extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/index.js')

block content

	.row
		.large-12.columns
			h2(data-bind='text: "Tickets from " + user.displayName')
			hr

	.row
		.large-12.columns
			h3.subheader Open tickets
			table.hide(data-bind='css: {hide: !open().length > 0}')
				thead
					tr
						th(height=50, width=200) Status
						th(height=50, width=900) Subject
						th(height=50, width=200) Last changed
				tbody(data-bind='foreach: open')
					tr(data-bind='with: value')
						td(height=50)
							span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
						td(height=50, data-bind='text: title')
						td(height=50, data-bind='text: friendlyDate')
			p(data-bind='css: {hide: open().length > 0}')
				| No open tickets from you at the moment.

	.row
		.large-12.columns
			h3.subheader Closed tickets
			table.hide(data-bind='css: {hide: !closed().length > 0}')
				thead
					tr
						th(height=50, width=1100) Subject
						th(height=50, width=200) Closed on
				tbody(data-bind='foreach: closed')
					tr(data-bind='with: value')
						td(height=50, data-bind='text: title')
						td(height=50, data-bind='text: friendlyDate')
			p(data-bind='css: {hide: closed().length > 0}')
				| No closed tickets from you in the system.

