extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/vendor/knockout.mapping.js')
	script(src='/js/index.js')

block content

	.row
		.large-12.columns
			h3(data-bind='text: displayname')
			hr

	.row
		.large-12.columns
			h5 Open tickets
			table(data-bind='visible: open().length > 0')
				thead
					tr
						th(height=50, width=900) Subject
						th(height=50, width=250) Last changed
				tbody(data-bind='foreach: open')
					tr
						td(height=50, data-bind='text: value.title')
						td(height=50, data-bind='text: value.friendlyDate')
			p(data-bind='visible: !open().length > 0')
				| No open tickets in the database!

	.row
		.large-12.columns
			h5 Closed tickets
			table(data-bind='visible: closed().length > 0')
				thead
					tr
						th(height=50, width=900) Subject
						th(height=50, width=250) Closed on
				tbody(data-bind='foreach: closed')
					tr
						td(height=50, data-bind='text: value.title')
						td(height=50, data-bind='text: value.friendlyDate')
			p(data-bind='visible: !closed().length > 0')
				| No closed tickets in the database!

