extends minilayout

block append head
	script(src='/js/login.js')

block content
	.row(data-bind='css: {hide: showProgress()}')
		.small-12.columns
			h3= locals.name
			hr
	.row(data-bind='css: {hide: showProgress()}')
		.small-12.columns
			p 
				span In order to view or update your submitted tickets, please log in with your 
				span= locals.login_location 
				span  account.
			a.button.radius(data-bind='click: login') Log in

	.row.hide(data-bind='css: {hide: !showProgress()}')
		.small-2.columns.small-centered
			p
			img(src='/images/progress.gif')
			h4 Logging in...
