extends layout

block append head
	script(src='/js/manage.js')

block content
	.row
		.small-6.columns
			.section-container.auto(data-section='data-section')
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel1') Systems
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Support
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Long Term
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Closed

	.row
		.small-6.columns
			p Arnold ipsum. You killed my fada. Big mistake. Bullshit. Sure, here's my invitation. Come with me if you want to live. You should clone yourslef so you can go fuck yourself. I don't do requests. You're one, ugly, muthafucka. Into the boat. Your luggage. Give you a lift? Come on Bennet, let's party. Put the cookie down. Now! Now listen to me very carefully. That's alright, keep it. Doesn't anyone stay dead anymore? Come on you piece of shit. Let off some steam Bennet. You are terminated. Como esta. You're fired. Stop being such a pussy.

			p	I'm pregnant. You should not drink and bake. I'll be back. Look who's talking. No more complaining. No more 'Mr Kimble, I have to go to the bathroom. Nothing! You're fired. Hey light head. Hey Christmas tree. You should not drink and bake. You are mine now. You belong to me. Come on don't bullshit me. I eat green barrettes for breakfast. Right now I'm very hungry. I've seen you before. You're the asshole on TV. Who the fuck are you? My name is John Kimble and I love my car. Come on Bennet, let's party.

			p What killed the dinosaurs? The ice age. Fugettit, I'm not going to sit on your lap. C-coo-ool. I need a vacation. Well then God shouldn't have cloned my dog. Excuse me. Don't disturb my friend. He's dead tired. Hasta la vista baby. I eat green barrettes for breakfast. Right now I'm very hungry. Grant me revenge! And if you do not listen, then to HELL with you. I'll be back. Hyellen. Shuuuuuttttuuuuup!!! Hello cutie pie. One of us is in deep trouble. Of course. I'm a Terminator. Freeze well. Born to be bad. Hahahha. You this this is the real Quade? It is! Fuck you asshowr. Take it BACK. Back to the carpet. I'll be back. Make your own on ArnoldIpsum.com

			p Get to the choppa. You're not going to have your mommies right behind you to wipe your little tushies. Let off some steam Bennet. You're a fucking choir boy compared to me. A choir boy!! You're one, ugly, muthafucka. Shuuuuuttttuuuuup!!! Who the hell are you. I'll be back. Of course. I'm a Terminator. There is no bathroom. Hey light head. Hey Christmas tree. I'll be back. The hell you will. Freeze well. Fuck you. Consider it a divorce. Who is your daddy, and what does he do? Because I'm going to say please. I'm going to ask you a bunch of questions I want to have them answered immediately. Hello cutie pie. One of us is in deep trouble. You killed my fada. Big mistake. You want to be a Farmer? Here's a couple of acres. To be or not to be. Not to be. It's just a scratch. There is no bathroom. Come on Bennet, let's party. My name is John Kimble and I love my car. Come on Bennet, let's party. Remember, I can break your neck like a chicken's. I'm not shitting on you.

			p Hahahha. You this this is the real Quade? It is! Get down. Get out. I eat green barrettes for breakfast. Right now I'm very hungry. I'm the famous comedian, Arnold Brownswagger. Come with me if you want to live. You are not you you're me. No I don't stop it. I want my baby. C-coo-ool. You're one, ugly, muthafucka. No sequel for you. Remember, I can break your neck like a chicken's. Do it! Do it! Come on! Kill me. I'm here. Do it now. Kill me. You're not going to have your mommies right behind you to wipe your little tushies. The Iceman cometh. Come on Bennet, let's party. My name is John Kimble and I love my car. Sure, here's my invitation. That's for sleeping with my wife. In a damn minivan. You should clone yourslef so you can go fuck yourself. You did not make a Victor. Gimme the goddam page! See you at the party Richtar. You blew my CAWVA!! Into the tunnel. Hasta la vista baby. I'll be back. Well that hit the spot. Hyellen. I'm not shitting on you.

