extends layout

block append head
	script(src='/js/manage.js')


block content

	.row.show-for-medium-up(data-bind='if: isAllowed()')
		.small-6.columns
			h3 Ticket Management
		.small-6.columns
			span.search.right
				span filter:
					input.round(data-bind='value: filter, valueUpdate: "afterkeydown"')
				span &nbsp; &nbsp; &nbsp;
				span.form
					input#openTickets(type="radio", name="ticketTypeGroup", value="0", data-bind='checked: ticketType')
					label(for="openTickets") Open
					input#closedTickets(type="radio", name="ticketTypeGroup", value="1", data-bind='checked: ticketType')
					label(for="closedTickets") Closed

	.row.show-for-medium-up(data-bind='if: isAllowed()')
		.small-9.columns
			ul.sub-nav
				<!-- ko foreach: groupList -->
				li(data-bind='css: { active: $parent.group() === $index() }')
					a(href='#', data-bind='click: $parent.changeGroup')
						span(data-bind='text: $data')
						span(data-bind='text: $root.groupBrackets()[$index()]')
				<!-- /ko -->
		.small-3.columns
			span.right(data-bind='if: paginated')
				ul.pagination
					li(class="arrow", data-bind='css: {unavailable: currentPage() == 0}')
						a(data-bind='click: gotoPrevPage') &laquo;
					<!-- ko foreach: pageArray -->
					li(data-bind='css: { current: $parent.currentPage() === $index()}')
						a(data-bind='text: $index() + 1, click: $parent.gotoPage.bind(null, $data, $index()) ')
					<!-- /ko -->
					li(class="arrow", data-bind='css: {unavailable: currentPage()+1 == pageArray().length}')
						a(data-bind='click: gotoNextPage') &raquo;

	.row.show-for-small-only(data-bind='if: isAllowed()')
		.small-6.columns
			ul.side-nav
				<!-- ko foreach: groupList -->
				li(data-bind='css: { active: $parent.group() === $index() }')
					a(href='#', data-bind='click: $parent.changeGroup')
						span(data-bind='text: $data')
						span(data-bind='text: $root.groupBrackets()[$index()]')
				<!-- /ko -->

	.row.show-for-small-only(data-bind='if: isAllowed()')
		.small-12.columns
			span(data-bind='if: paginated')
				ul.pagination
					li(class="arrow", data-bind='css: {unavailable: currentPage() == 0}')
						a(data-bind='click: gotoPrevPage') &laquo;
					<!-- ko foreach: pageArray -->
					li(data-bind='css: { current: $parent.currentPage() === $index()}')
						a(data-bind='text: $index() + 1, click: $parent.gotoPage.bind(null, $data, $index()) ')
					<!-- /ko -->
					li(class="arrow", data-bind='css: {unavailable: currentPage()+1 == pageArray().length}')
						a(data-bind='click: gotoNextPage') &raquo;


	.row.hide(data-bind='css: {hide: !alert()}')
		.small-12.columns
			.alert-box.radius(data-bind='text: alert, css: {success: success()}')

	.row.show-for-medium-up(data-bind='if: isAllowed()')
		.small-12.columns
			table.hide(data-bind='css: {hide: !tickets().length > 0}')
				thead
					tr
						th(width=50, data-bind='ifnot: hidePriority')
							a(href='', data-bind='click:sortByPriority') Priority
						th(width=130) 
							a(href='', data-bind='click:sortByStatus') Status
						th(width=170) 
							a(href='', data-bind='click:sortByFrom') From
						th(width=950) 
							a(href='', data-bind='click:sortBySubject') Subject
						th(width=180) 
							a(href='', data-bind='click:sortByDate') Last changed
						th(width=120)
							a(href='', data-bind='click:sortByCreated') Created
						th(data-bind='ifnot: hideSelect') Delete
				tbody(data-bind='foreach: filteredTickets')
					tr(data-bind='click: $root.whichButton, css: {clickable: $parent.hideSelect()}')
						td(data-bind='ifnot: $parent.hidePriority')
							span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
						td
							span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')	
						td(data-bind='text: submitter')		
						td(data-bind='text: title')
						td(data-bind='text: friendlyDate')
						td(data-bind='text: createdDate')
						td(data-bind='ifnot: $parent.hideSelect')
							input(type="checkbox", data-bind="checked: toDelete")
			p(data-bind='css: {hide: tickets().length > 0}')
				| No tickets of that type.

	.row.show-for-small-only(data-bind='if: isAllowed()')
		.small-12.columns
			table.hide(data-bind='css: {hide: !tickets().length > 0}')
				thead
					tr
						th(data-bind='ifnot: hidePriority')
							a(data-bind='click:sortByPriority') Priority
						th
							a(data-bind='click:sortByFrom') From
						th
							a(data-bind='click:sortBySubject') Subject
						th(data-bind='ifnot: hideSelect') Delete
				tbody(data-bind='foreach: filteredTickets')
					tr(data-bind='click: $root.whichButton, css: {clickable: $parent.hideSelect()}')
						td(data-bind='ifnot: $parent.hidePriority')
							span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
						td(data-bind='text: submitter')		
						td(data-bind='text: title')
						td(data-bind='ifnot: $parent.hideSelect')
							input(type="checkbox", data-bind="checked: toDelete")
			p(data-bind='css: {hide: tickets().length > 0}')
				| No tickets of that type.



	.row.show-for-medium-up(data-bind='if: isAllowed(), css:{hide: !tickets().length > 0}')
		.small-10.columns
			ul.button-group.radius
				li(data-bind='if: sorted')
					button.tiny(data-bind='click: defaultSort') Default sort	
				li(data-bind='if: isAdmin')
					button.tiny(data-bind='click: toggleSelect, text: toggleSelectText')
				li.hide(data-bind='css: {hide: hideSelect()}')
					button.tiny.alert(data-reveal-id='firstModal') Bulk delete
		.small-2.columns
			label.form tickets per page:
				select(data-bind='options: pageSizeOptions, value: pageSize, optionsCaption:"All"')

	.row.show-for-small-only(data-bind='if: isAllowed(), css:{hide: !tickets().length > 0}')
		.small-6.columns
			label.form tickets per page:
			select(data-bind='options: pageSizeOptions, value: pageSize, optionsCaption:"All"')		

	#firstModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		p
		p(data-bind='text: "Are you sure you wish to delete " + countDeletes() + "? All associated messages will also be permenently deleted. No notification will be sent."')
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closefirstModal') Cancel delete
			li
				button.small.alert(data-bind='click: bulkDelete, text: "Really delete " + countDeletes() + "?"') 
		a.close-reveal-modal ×
			