extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/manage.js')

block content

	.row.hide(data-bind='if: isAdmin, css: {hide: !isAdmin()}')
		.large-6.columns
			h3 Ticket Management
			ul.sub-nav
				li 
					span.label.radius.secondary.left select group:
				<!-- ko foreach: groupOptions -->
				li(data-bind='css: { active: $parent.group() === $index() }')
					a(href='#', data-bind='text: $data, click: $parent.changeGroup')
				<!-- /ko -->
		.large-6.columns
			.right
				p
				form
					label Show tickets:
					input#openTickets(type="radio", name="ticketTypeGroup", value="open", data-bind='checked: ticketType')
					label(for="openTickets") Open
					input#closedTickets(type="radio", name="ticketTypeGroup", value="closed", data-bind='checked: ticketType')
					label(for="closedTickets") Closed
	.row
		.large-12.columns
			hr

	.row.hide(data-bind='if: isAdmin, css: {hide: !isAdmin()}')
		.large-12.columns
			table.hide(data-bind='css: {hide: !tickets().length > 0}')
				thead
					tr
						th(width=50, data-bind='ifnot: hidePriority')
							a(href='', data-bind='click:sortByPriority') Priority
						th(width=150) 
							a(href='', data-bind='click:sortByStatus') Status
						th(width=250) 
							a(href='', data-bind='click:sortByFrom') From
						th(width=950) 
							a(href='', data-bind='click:sortBySubject') Subject
						th(width=200) 
							a(href='', data-bind='click:sortByDate') Last changed
				tbody(data-bind='foreach: tickets')
					tr.clickable(data-bind='click: $root.whichButton')
						td(data-bind='ifnot: $parent.hidePriority')
							div.tablespacer
								span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
						td
								span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')	
						td(data-bind='text: owner')		
						td(data-bind='text: title')
						td(data-bind='text: friendlyDate')
			p(data-bind='css: {hide: tickets().length > 0}')
				| No tickets of that type.

	.row.hide(data-bind='if: isAdmin, css: {hide: !sorted()}, click: defaultSort')
		.large-12.columns
			button.radius.small Default sort	

	.row.hide(data-bind='css: {hide: !alert()}')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert, css: {success: success()}')


			