extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/manage.js')

block content

	.row
		.large-12.columns
			h3 Ticket Management
			ul.sub-nav
				li 
					span.label.radius.secondary.left select group:
				<!-- ko foreach: groupOptions -->
				li(data-bind='css: { active: $parent.group() === $index() }')
					a(href='#', data-bind='text: $data, click: $parent.changeGroup')
				<!-- /ko -->
			hr

	.row
		.large-12.columns
			table.hide(data-bind='css: {hide: !open().length > 0}')
				thead
					tr
						th(width=200) 
							a(href='', data-bind='click:sortByStatus') Status
						th(width=250) 
							a(href='', data-bind='click:sortByFrom') From
						th(width=950) 
							a(href='', data-bind='click:sortBySubject') Subject
						th(width=200) 
							a(href='', data-bind='click:sortByDate') Last changed
				tbody(data-bind='foreach: open')
					tr.clickable(data-bind='click: gotoMessages')
						td
							div.tablespacer
								span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')	
						td(data-bind='text: owner')		
						td(data-bind='text: title')
						td(data-bind='text: friendlyDate')
			p(data-bind='css: {hide: open().length > 0}')
				| No tickets of that type

	.row.hide(data-bind='fadeVisible: alert')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert')
			