extends layout

block append head
	script(src='/js/manage.js')


block content

	.row.hide(data-bind='if: (isAdmin() || isTech()), css: {hide: !(isAdmin() || isTech())}')
		.large-6.columns
			h3 Ticket Management
			ul.sub-nav
				<!-- ko foreach: groupOptions -->
				li(data-bind='css: { active: $parent.group() === $index() }')
					a(href='#', data-bind='click: $parent.changeGroup')
						span(data-bind='text: $data')
						span  (
						span(data-bind='text: $root.groupCounts()[$index()]')
						span )
				<!-- /ko -->
	.row.hide(data-bind='if: (isAdmin() || isTech()), css: {hide: !(isAdmin() || isTech())}')
		.large-6.columns
			span.form filter:
			input.round(data-bind='value: filter, valueUpdate: "afterkeydown"')
		.large-6.columns
			span.right
				span.form Show tickets: &nbsp;
				input#openTickets(type="radio", name="ticketTypeGroup", value="0", data-bind='checked: ticketType')
				label(for="openTickets") Open
				input#closedTickets(type="radio", name="ticketTypeGroup", value="1", data-bind='checked: ticketType')
				label(for="closedTickets") Closed

	.row.hide(data-bind='if: (isAdmin() || isTech()), css: {hide: !(isAdmin() || isTech())}')
		.large-12.columns
			hr
			table.hide(data-bind='css: {hide: !tickets().length > 0}')
				thead
					tr
						th(width=50, data-bind='ifnot: hidePriority')
							a(href='', data-bind='click:sortByPriority') Priority
						th(width=130) 
							a(href='', data-bind='click:sortByStatus') Status
						th(width=170) 
							a(href='', data-bind='click:sortByFrom') From
						th(width=950) 
							a(href='', data-bind='click:sortBySubject') Subject
						th(width=180) 
							a(href='', data-bind='click:sortByDate') Last changed
						th(width=120)
							a(href='', data-bind='click:sortByCreated') Created
						th(data-bind='ifnot: hideSelect') Delete
				tbody(data-bind='foreach: filteredTickets')
					tr(data-bind='click: $root.whichButton, css: {clickable: $parent.hideSelect()}')
						td(data-bind='ifnot: $parent.hidePriority')
							div.tablespacer
								span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
						td
								span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')	
						td(data-bind='text: submitter')		
						td(data-bind='text: title')
						td(data-bind='text: friendlyDate')
						td(data-bind='text: createdDate')
						td(data-bind='ifnot: $parent.hideSelect')
							input(type="checkbox", data-bind="checked: toDelete")
			p(data-bind='css: {hide: tickets().length > 0}')
				| No tickets of that type.

	.row.hide(data-bind='css:{hide: !tickets().length > 0}')
		.large-6.columns
			ul.button-group.radius
				li(data-bind='if: sorted')
					button.tiny(data-bind='click: defaultSort') Default sort	
				li(data-bind='if: isAdmin')
					button.tiny(data-bind='click: toggleSelect, text: toggleSelectText')
				li.hide(data-bind='css: {hide: hideSelect()}')
					button.tiny.alert(data-reveal-id='firstModal') Bulk delete

	.row.hide(data-bind='css: {hide: !alert()}')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert, css: {success: success()}')



	#firstModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		p
		p(data-bind='text: "Are you sure you wish to delete " + countDeletes() + "? All associated messages will also be permenently deleted. No notification will be sent."')
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closefirstModal') Cancel delete
			li
				button.small.alert(data-bind='click: bulkDelete, text: "Really delete " + countDeletes() + "?"') 
		a.close-reveal-modal ×
			