extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/manage.js')

block content

	.row
		.large-12.columns
			h3.subheader(data-bind="text: groupDisplay")

	.row
		.large-3.columns
			a(data-dropdown='groupDropdown').button.split.secondary.small View:
				span
			ul(id='groupDropdown', data-dropdown-content, data-bind='foreach: groupOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeGroup')
	.row
		.large-12.columns
			table.hide(data-bind='css: {hide: !open().length > 0}')
				thead
					tr
						th(height=50, width=200) Status
						th(height=50, width=250) From
						th(height=50, width=950) Subject
						th(height=50, width=200) Last changed
				tbody(data-bind='foreach: open')
					tr.clickable(data-bind='click: gotoMessages')
						td(height=50)
							span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
						td(height=50, data-bind='text: owner')		
						td(height=50, data-bind='text: title')
						td(height=50, data-bind='text: friendlyDate')
			p(data-bind='css: {hide: open().length > 0}')
				| No open tickets waiting!
			