extends layout

block append head
	script(src='/js/manage.js')

block content
	.row
		.small-6.columns
			.section-container.auto(data-section='data-section')
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel1') Systems
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Support
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Long Term
				section
					p.title(data-section-title='data-section-title')
						a(href='#panel2') Closed

	.row
		.small-6.columns
			