extends layout

block append head
	script(src='/js/supplied/knockout.validation.js')
	script(src='/js/messages.js')

block content
	// status and title bar
	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox	
				span.left(data-bind='ifnot: $root.closed')
					span(data-bind='if: ($root.isAdmin() || $root.isTech())')
						span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
					span &nbsp;
					span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.iconic.left_quote
				span &nbsp;
				span(data-bind='liveEditor: title')
					span.title(data-bind='visible: !title.editing(), event: {dblclick: title.edit}, text: title()')
					input.title(data-bind='visible: title.editing(), value: title, enterKey: title.stopEditing, hasfocus: title.editing')
				span &nbsp;
				span.iconic.right_quote
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			.panel
				p
					span.iconic.left_quote
					span &nbsp;
					strong.title(data-bind='text: title')	
					span &nbsp;
					span.iconic.right_quote
				div(data-bind='ifnot: $root.closed')
					span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')

	// alert box
	.row.hide(data-bind='css: {hide: !alert()}')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert, css: {success: success()}')

	// priority, status and group drop downs. Close and delete buttons
	.row
		.large-2.columns.hide(data-bind='if: ticket() && (isAdmin() || isTech()) && !closed(), fadeVisible: ticket() && (isAdmin() || isTech()) && !closed()')	
				label.form priority:
				select(data-bind='options: priorityOptions, value: ticket().friendlyPriority')
		.large-2.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')	
			label.form status:
			select(data-bind='options: statusOptions, value: ticket().friendlyStatus')		
		.large-2.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')	
			label.form group:
			select(data-bind='options: groupOptions, value: ticket().friendlyGroup')
		.large-6.columns.hide(data-bind='fadeVisible: ticket() && isAdmin() && !closed()')	
			ul.button-group.radius.right
				li
					button.tiny(data-bind='click: standardClose') Standard close
				li
					button.tiny(data-bind='click: toggleClosed') Silent close
				li
					button.tiny.alert(data-reveal-id='firstModal') Delete

	.row.hide(data-bind='if: closed() && isAdmin(), fadeVisible: closed() && isAdmin()')		
		.large-12.columns
			ul.button-group.radius.right
				li
					button.small(data-bind='click: toggleClosed') Re-open			
	
	// messages foreach loop
	.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='css: Colour')
							span.has-tip(data-bind='text: displayName, attr: {title: from}', data-tooltip)
							span(data-bind='if: $root.isAdmin() && !$root.closed()')
								span.right.iconic(class='trash_stroke', data-bind='click: $parent.opensecondModal')
						li.date(data-bind='text: friendlyDate, css: Colour')
						li.body(data-bind='css: Colour')
							div(data-bind='liveEditor: text')
								span(data-bind='visible: !text.editing(), event: {dblclick: text.edit}, html: html')
								textarea(data-bind='visible: text.editing(), value: text, hasFocus: text.editing')	

	// message add boxes
	.row.hide(data-bind='ifnot: closed, fadeVisible: ticket()')
		.large-6.columns.hide(data-bind='if: !(isAdmin() || isTech()), fadeVisible: !(isAdmin() || isTech())')
			form(data-bind='submit: addUserMsg')
				textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				button.radius(type='submit', data-bind='enable: userMsg()') Add message

		.large-6.columns.hide(data-bind='if: (isAdmin() || isTech()), fadeVisible: (isAdmin() || isTech())')
			form(data-bind='submit: addAdminMsg')
				.row
					.large-12.columns
						textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				.row
					.large-6.columns
						div
							input(id='checkbox1', type='checkbox', data-bind='checked: adminMsgPrivate, enable: !adminMsgClose()')
							label(for='checkbox1') Add as private note
						div.hide(data-bind='css: {hide: !isAdmin()}')
							input(id='checkbox2', type='checkbox', data-bind='checked: adminMsgClose, enable: !adminMsgPrivate()')
							label(for='checkbox2') Close with this message

					.large-6.columns
						ul.button-group.radius.right
							li	
								button.small(type='submit', data-bind='enable: userMsg()') Add message

	.row
		// attachments
		.large-6.columns(data-bind='with: ticket')
			div
				label.form attachments:
				ul.no-bullet
					<!-- ko foreach: attachments -->
					li
						a(data-bind='text: $data, attr: { href: "/node/file/"+$parent._id+"/"+$data, target: "_new"}')
					<!-- /ko -->
				form.hide(data-bind='attr: {action: "/node/file/"},css: {hide: $root.closed()}', method="post", enctype="multipart/form-data")
					large-6.columns
						input.form(type="file", name="upload")
						input(type="hidden", name="id", data-bind='attr:{value: _id}')
						input(type="hidden", name="rev", data-bind='attr:{value: _rev}')
						button.radius.tiny(name="submit", id="submit", type="submit") Add file

		// recipients				
		.large-6.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')
			div.right
				label.form ticket recipients:
				table
					thead
						tr 
							th Name
							th Email
							th Change
					tbody(data-bind='with: ticket')
						<!-- ko foreach: recipientsList -->
						tr
							td(data-bind='text: name')
							td(data-bind='text: email')
							td
								a(href='', data-bind='click: $root.deleteRecipient')
									span.iconic.x
						<!-- /ko -->
						tr(data-bind='with: $root.newRecipient')
							td
								input(type='text', data-bind='value: name, valueUpdate:"afterkeydown"')
							td
								input(type='text', data-bind='value: email, valueUpdate:"afterkeydown"')
							td
								button.radius.tiny(data-bind='click: $root.addRecipient, enable: isValid()') Add

	.row(data-bind='with: ticket')
		.large-12.columns


	#firstModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		p
		p Are you sure you wish to delete this ticket? All associated messages will also be permanently deleted. No notification will be sent.
		p You can just close the ticket instead.
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closefirstModal') Cancel delete
			li
				button.small(data-bind='click: toggleClosed') Silent close
			li
				button.small.alert(data-bind='click: deleteTicket') Really delete
		a.close-reveal-modal ×

	#secondModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		h5(data-bind='if: messageToDelete()') 
			| message from: 
			span(data-bind='text: messageToDelete().from')

		p
		p Are you sure you wish to delete this message? It will be permanently removed.
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closesecondModal') Cancel delete
			li
				button.small.alert(data-bind='click: deleteMessage') Really delete
		a.close-reveal-modal ×	


