extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/messages.js')

block content

	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox
				span.label.round.left(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.title(data-bind='text: title')	
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			p.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
			.panel
				strong.title(data-bind='text: title')	


	.row.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='html: from, css: titleColour')
						li.date(data-bind='html: friendlyDate')
						li.body(data-bind='text: body')