extends layout

block append head
	script(src='/js/supplied/knockout.validation.js')
	script(src='/js/messages.js')

block content

	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox(data-bind='liveEditor: title')	
				span.left
					span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
					span  
					span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.iconic.left_quote
				span &nbsp;
				span.title.view(data-bind='event: {dblclick: title.edit}, text: title()')
				input.title.edit(data-bind='value: title, enterKey: title.stopEditing, selectAndFocus: title.editing,  event: { blur: title.stopEditing }')
				span.iconic.right_quote
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			.panel
				p.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				p
					strong.title(data-bind='text: title')	

	.row.hide(data-bind='css: {hide: !alert()}')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert, css: {success: success()}')

	.row
		.large-2.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')	
				label.form priority:
				select(data-bind='options: priorityOptions, value: ticket().friendlyPriority')
		.large-2.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')	
			label.form status:
			select(data-bind='options: statusOptions, value: ticket().friendlyStatus')		
		.large-2.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')	
			label.form group:
			select(data-bind='options: groupOptions, value: ticket().friendlyGroup')
		.large-6.columns.hide(data-bind='fadeVisible: ticket() && isAdmin() && !closed()')	
			ul.button-group.radius.right
				li
					button.small.disabled Close
				li
					button.small(data-bind='click: toggleClosed') Silent close
				li
					button.small.alert(data-reveal-id='firstModal') Delete

	.row.hide(data-bind='if: closed() && isAdmin(), fadeVisible: closed() && isAdmin()')		
		.large-12.columns
			ul.button-group.radius.right
				li
					button.small(data-bind='click: toggleClosed') Re-open			
	
	.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='css: Colour')
							span.has-tip(data-bind='text: displayName, attr: {title: from}', data-tooltip)
						li.date(data-bind='text: friendlyDate, css: Colour')
						li.body(data-bind='html: html, css: Colour')


	.row.hide(data-bind='ifnot: closed, fadeVisible: ticket()')
		.large-6.columns.hide(data-bind='ifnot: isAdmin(), fadeVisible: !isAdmin()')
			form(data-bind='submit: addUserMsg')
				textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				button.radius(type='submit', data-bind='enable: userMsg()') Add reply

		.large-6.columns.hide(data-bind='if: isAdmin(), fadeVisible: isAdmin()')
			form(data-bind='submit: addAdminMsg')
				.row
					.large-12.columns
						textarea(data-bind='value: adminMsg, valueUpdate: "afterkeydown"')
				.row
					.large-6.columns
						input(id='checkbox1', type='checkbox', data-bind='checked: adminMsgPrivate')
						label(for='checkbox1') Add as private note

					.large-6.columns
						.right
							button.radius(type='submit', data-bind='enable: adminMsg()') Add message

	.row
		.large-6.columns(data-bind='with: ticket')
			div.hide(data-bind='fadeVisible: attachments().length > 0')
				label.form attachments:
				ul.no-bullet
					<!-- ko foreach: attachments -->
					li
						a(data-bind='text: $data, attr: { href: "/node/file/"+$parent._id+"/"+$data, target: "_new"}')
					<!-- /ko -->



		.large-6.columns.hide(data-bind='if: ticket() && isAdmin() && !closed(), fadeVisible: ticket() && isAdmin() && !closed()')
			div.right
				label.form ticket recipients:
				table
					thead
						tr 
							th Name
							th Email
							th Change
					tbody(data-bind='with: ticket')
						<!-- ko foreach: recipientsList -->
						tr
							td(data-bind='text: name')
							td(data-bind='text: email')
							td
								a(href='', data-bind='if: $index() > 0, click: $root.deleteRecipient')
									span.iconic.x
						<!-- /ko -->
						tr(data-bind='with: $root.newRecipient')
							td
								input(type='text', data-bind='value: name, valueUpdate:"afterkeydown"')
							td
								input(type='text', data-bind='value: email, valueUpdate:"afterkeydown"')
							td
								button.radius.tiny(data-bind='click: $root.addRecipient, enable: isValid()') Add

	#firstModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		p
		p Are you sure you wish to delete this ticket? All associated messages will also be permenently deleted. No notification will be sent.
		p You can just close the ticket instead.
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closefirstModal') Cancel delete
			li
				button.small(data-bind='click: toggleClosed') Silent close
			li
				button.small.alert(data-bind='click: deleteTicket') Really delete
		a.close-reveal-modal ×


