extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/messages.js')

block content

	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox
				span.label.round.left(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.title(data-bind='text: title')	
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			.panel
				strong.title(data-bind='text: title')	
			.panel
				p.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')

	.row.hide(data-bind='fadeVisible: isAdmin()')
		.large-3.columns
			a(data-dropdown='statusDropdown').button.split.secondary.small Change status to:
				span
			ul(id='statusDropdown', data-dropdown-content, data-bind='foreach: statusOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeStatus')

		.large-9.columns
			ul.button-group.radius.right
				li
					button(data-bind='click: deleteTicket').button.alert.small Delete ticket
				li
					.button.small.disabled Silent close
				li
					.button.small.disabled Default close
	
	.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='text: displayName, css: Colour')
						li.date(data-bind='text: friendlyDate, css: Colour')
						li.body(data-bind='html: html, css: Colour')

	.row
		.large-6.columns.hide(data-bind='fadeVisible: !isAdmin()')
			form(data-bind='submit: addUserMsg')
				textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				button.radius(type='submit', data-bind='enable: userMsg()') Add reply

		.large-6.columns.hide(data-bind='fadeVisible: isAdmin()')
			form(data-bind='submit: addAdminMsg')
				.row
					.large-12.columns
						textarea(data-bind='value: adminMsg, valueUpdate: "afterkeydown"')
				.row
					.large-3.columns
						div.switch.small.radius
							input#z1(name="switch-z", type="radio", value="public", data-bind="checked: adminMsgPrivateValue")
							label(for="z1", onclick="") Public
							input#z2(name="switch-z", type="radio", value="private", data-bind="checked: adminMsgPrivateValue")
							label(for="z2", onclick="") Private
							span
					.large-9.columns
						.right
							button.radius(type='submit', data-bind='enable: adminMsg()') Add message
			.row			
				.large-12.columns
					ul.button-group.radius.right
						li
							.button.alert.small Delete ticket
						li
							.button.small.disabled Silent close
						li
							.button.small.disabled Default close
						li
							button.small.disabled(data-bind='enable: adminMsg()') Close with message



	.row.hide(data-bind='fadeVisible: alert')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert')

