extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/messages.js')

block content

	.row.hide(data-bind='fadeVisible: alert()')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert')

	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox(data-bind='liveEditor: title')	
				span.label.round.left(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.title "
				span.title.view(data-bind='event: {dblclick: title.edit}, text: title()')
				input.title.edit(data-bind='value: title, enterKey: title.stopEditing, selectAndFocus: title.editing,  event: { blur: title.stopEditing }')
				span.title "
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			.panel
				strong.title(data-bind='text: title')	
			.panel
				p.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')

	.row.hide(data-bind='if: isAdmin, fadeVisible: isAdmin() && ticket()')
		.large-12.columns(data-bind='if: closed')
			ul.button-group.radius.right
				li
					button.small.secondary(data-bind='click: toggleClosed') Re-open			

		.large-2.columns(data-bind='ifnot: closed')
			a(data-dropdown='statusDropdown').button.split.secondary.small Change status to:
				span
			ul(id='statusDropdown', data-dropdown-content, data-bind='foreach: statusOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeStatus')

		.large-2.columns
			a(data-dropdown='groupDropdown').button.split.secondary.small Change group to:
				span
			ul(id='groupDropdown', data-dropdown-content, data-bind='foreach: groupOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeGroup')			

		.large-8.columns(data-bind='ifnot: closed')
			ul.button-group.radius.right
				li
					button.small.secondary(data-bind='click: toggleClosed') Silent close
				li
					button.small.secondary.disabled Close
				li
					button.small.alert(data-bind='click: deleteTicket') Delete
	
	.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='text: displayName, css: Colour')
						li.date(data-bind='text: friendlyDate, css: Colour')
						li.body(data-bind='html: html, css: Colour')


	.row.hide(data-bind='ifnot: closed, fadeVisible: ticket()')
		.large-6.columns.hide(data-bind='ifnot: isAdmin, fadeVisible: !isAdmin()')
			form(data-bind='submit: addUserMsg')
				textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				button.radius(type='submit', data-bind='enable: userMsg()') Add reply

		.large-6.columns.hide(data-bind='if: isAdmin, fadeVisible: isAdmin()')
			form(data-bind='submit: addAdminMsg')
				.row
					.large-12.columns
						textarea(data-bind='value: adminMsg, valueUpdate: "afterkeydown"')
				.row
					.large-3.columns
						div.switch.small.radius
							input#z1(name="switch-z", type="radio", value="public", data-bind="checked: adminMsgPrivateValue")
							label(for="z1", onclick="") Public
							input#z2(name="switch-z", type="radio", value="private", data-bind="checked: adminMsgPrivateValue")
							label(for="z2", onclick="") Private
							span
					.large-9.columns
						.right
							button.radius(type='submit', data-bind='enable: adminMsg()') Add message
			.row	
				.large-12.columns
					ul.button-group.radius.right
						li
							button.small.secondary(data-bind='click: toggleClosed') Silent close
						li
							button.small.secondary.disabled Close
						li
							button.small.alert(data-bind='click: deleteTicket') Delete

