extends layout

block append head
	script(src='/js/vendor/moment.min.js')
	script(src='/js/messages.js')

block content

	.row.hide(data-bind='fadeVisible: alert()')
		.large-12.columns
			.alert-box.radius(data-bind='text: alert')

	.row.hide(data-bind='with: ticket, fadeVisible: ticket()')
		.show-for-medium-up
			.ticketbox(data-bind='liveEditor: title')	
				span.left
					span.label(data-bind='text: friendlyPriority, css: friendlyPriorityCSS')
					span  
					span.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				span.title "
				span.title.view(data-bind='event: {dblclick: title.edit}, text: title()')
				input.title.edit(data-bind='value: title, enterKey: title.stopEditing, selectAndFocus: title.editing,  event: { blur: title.stopEditing }')
				span.title "
				span.right(data-bind='text: "last updated " + friendlyDate()')

		.show-for-small
			.panel
				p.label.round(data-bind='text: friendlyStatus, css: friendlyStatusCSS')
				p
					strong.title(data-bind='text: title')	


	.row.hide(data-bind='if: isAdmin, fadeVisible: isAdmin() && ticket()')
		.large-12.columns(data-bind='if: closed')
			ul.button-group.radius.right
				li
					button.small(data-bind='click: toggleClosed') Re-open			

		.large-6.columns.hide(data-bind='css: {hide: closed()}')
			a(data-dropdown='priorityDropdown', data-options="is_hover:true").button.secondary.split.small Change priority to:
				span
			ul(id='priorityDropdown', data-dropdown-content, data-bind='foreach: priorityOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changePriority')

			a(data-dropdown='statusDropdown', data-options="is_hover:true").button.secondary.split.small Change status to:
				span
			ul(id='statusDropdown', data-dropdown-content, data-bind='foreach: statusOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeStatus')

			a(data-dropdown='groupDropdown', data-options="is_hover:true").button.secondary.split.small Change group to:
				span
			ul(id='groupDropdown', data-dropdown-content, data-bind='foreach: groupOptions').f-dropdown
				li 
					a(data-bind='text: $data, click: $parent.changeGroup')			

		.large-6.columns.hide(data-bind='css: {hide: closed()}')
			ul.button-group.radius.right
				li
					button.small.disabled Close
				li
					button.small(data-bind='click: toggleClosed') Silent close
				li
					button.small.alert(data-reveal-id='firstModal') Delete
	
	.hide(data-bind='foreach: messages, fadeVisible: messages()')
		.row
			.large-6.columns(data-bind='css: { "large-offset-6": !fromuser} ')
					ul.messagebox
						li.title(data-bind='css: Colour')
							span.has-tip(data-bind='text: displayName, attr: {title: from}', data-tooltip)
						li.date(data-bind='text: friendlyDate, css: Colour')
						li.body(data-bind='html: html, css: Colour')


	.row.hide(data-bind='ifnot: closed, fadeVisible: ticket()')
		.large-6.columns.hide(data-bind='ifnot: isAdmin, fadeVisible: !isAdmin()')
			form(data-bind='submit: addUserMsg')
				textarea(data-bind='value: userMsg, valueUpdate: "afterkeydown"')
				button.radius(type='submit', data-bind='enable: userMsg()') Add reply

		.large-6.columns.hide(data-bind='if: isAdmin, fadeVisible: isAdmin()')
			form(data-bind='submit: addAdminMsg')
				.row
					.large-12.columns
						textarea(data-bind='value: adminMsg, valueUpdate: "afterkeydown"')
				.row
					.large-6.columns
						input(id='checkbox1', type='checkbox', data-bind='checked: adminMsgPrivate')
						label(for='checkbox1') Add as private note

					.large-6.columns
						.right
							button.radius(type='submit', data-bind='enable: adminMsg()') Add message


	#firstModal.reveal-modal(data-reveal='data-reveal')
		h3 Confirm deletion
		p
		p Are you sure you wish to delete this ticket? All associated messages will also be permenently deleted. No notification will be sent.
		p You can just close the ticket instead.
		ul.button-group.radius.right
			li
				button.small(data-bind='click: closefirstModal') Cancel delete
			li
				button.small(data-bind='click: toggleClosed') Silent close
			li
				button.small.alert(data-bind='click: deleteTicket') Really delete
		a.close-reveal-modal ×


